.Meal {
  display: flex;
  align-items: center;
  padding: 30rem 20rem;
  border-bottom: 1px #f2f2f2 solid;
}

.ImgBox {
  width: 280rem;
}

img {
  width: 100%;
}

.Title {
  font-weight: normal;
  font-size: 36rem;
  margin: 0;
}

.Desc {
  font-size: 24rem;
  color: #bbb;
  padding-right: 40rem;
}

.PriceWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40rem;
  padding-right: 40rem;
}

.Price {
  font-weight: bold;
  font-size: 36rem;
}
.Price::before {
  content: "￥";
  font-size: 24rem;
}

.DescBox {
  flex: auto;
}